body,
html {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.video_wrapper {
 position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #4b4b4b;
}
.video {
    width: 100%;
    height:100%;
}
.alert {
    box-sizing: inherit;
    display: block;
    position: absolute;
    z-index: 9999;
    top: 60%;
    left: 0;
    width: 100%;
}

.alert a {
color: #fff;
}

.alert div {
    box-sizing: inherit;
    padding: 10px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
     display: none;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}
.name_video {
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}

.name_video div {
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    display: table;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}
.name_video a {
    box-sizing: border-box;
    
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    display: table;
    position: relative;
    text-align: center;
}
.preload{
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 90px;
	left: 50%;
	top: 50%;
	margin-top: -45px;
	display: none;
	margin-left: -40px;
	background: url('images/preload.gif')no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	cursor: pointer;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
     z-index: 2147483640;
}

.button_play_big {
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 90px;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    display: block;
    margin-left: -40px;
    background: url('images/play.png')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    cursor: pointer;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    z-index: 2147483647;
}

.button_play_big:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.control_wrapper {
    position: absolute;
    width: 100%;
    min-height: 40px;
    background: #212121;
    bottom: 0;
    -webkit-transition: opacity 0.3s, visibility 0s linear 0.3s;
    -moz-transition: opacity 0.3s, visibility 0s linear 0.3s;
    -o-transition: opacity 0.3s, visibility 0s linear 0.3s;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 100000000000000 !important;
        display: none;
}

.main_control {
    padding: 10px;
    display: block;
    min-height: 20px;
    bottom: 0;
}

.play {
    width: 20px;
    height: 20px;
    background: url('images/play_small.png')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    cursor: pointer;
    float: left;
}

.play:hover {
    width: 20px;
    height: 20px;
    background: url(images/play_small_hover.png)no-repeat;
    background-size: 100% 100%;

}

.pause {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -12;
    background: url('images/pause.png')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    cursor: pointer;
    float: left;
    display: none;
}

.pause:hover {
    width: 20px;
    height: 20px;
    background: url(images/pause.png)no-repeat;
    background-size: 100% 100%;

}

.zoom {
    width: 29px;
    height: 20px;
    background: url('images/zoom.png')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    float: right;
    cursor: pointer;
}


.logo {
    float: right;
    margin-top: -4px;
      margin-right: 10px;
}
.logo a {
    color: #a3a3a3;
    font-size: 18px;
    font-size: 1.425rem;
    text-transform: uppercase;
    border: 0;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    transition: all .2s ease;
    text-decoration: none;
}
.logo a span {
    transition: all .2s ease;
    color: #a3a3a3;
}
.logo a:hover {
    color: #fff;
}
.logo a:hover span {
    color: #ff2727;
}

::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

.zoom:hover {
    background: url('images/zoom_hover.png')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}


.bounce {
    right: 78px;
}


.right {
    width: 160px;
    float: right;
}

.sound {
    width: 20px;
    height: 20px;
    background: url(images/volume.png)no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.sound:hover {
    background: url(images/volume_hover.png)no-repeat;
    background-size: 100% 100%;
}

.videos {
    height: 100%;
    width: 100%;
}

.btns {
    float: left;
    height: 20px;
    width: 20px;
    margin: 0px auto;
}

.muted {
    width: 20px;
    height: 20px;
    float: right;
    display: none;
    background: url(images/mute.png)no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#slider {
    top: 19px;
    width: 100px;
    height: 4px;
    background: #a2a2a2;
    border-radius: 0;
    cursor: pointer;
    visibility: hidden;
}

.ui-widget-content {
    height: 100px;
    background: #a2a2a2;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 6px;
    position: absolute;
    left: 11px;
}

.ui-slider-range-min {
    width: 4px;
    background: #212121 !important;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    left: 1px;
}

.ui-slider .ui-slider-handle {
    position: relative;
    background: #212121!important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    border: 1px solid #a2a2a2;
    outline: none;
    cursor: pointer;
    top: -4px !important;
}

.sl_cont {
    position: absolute;
    padding-left: 25px;
    top: 0;
    width: 130px;
    height: 100%;
}
.sound_div {
    width: 130px;
    height: 100%;
    float:left;
     z-index: 0 ;
}

.hd {
    width: 26px;
    height: 20px;
    float: left;
    display: block;
    color: #A3A3A3;
    background: transparent;
    background-size: 100% 100%;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.abuse {
    width: 26px;
    height: 20px;
    background: url('images/abuse.png?id=1')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    float: right;
    cursor: pointer;
    margin-right:7px;
    margin-top:0px;
}
.abuse:hover {
    background: url('images/abuse_hover.png?id=1')no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.active {
    color: red;
    border-radius: 2px;
}

p {
    position: relative;
    top: -21px;
    left: 2px;
    font-size: 20px;
    font-family: "VW Text", Tahoma, Geneva, sans-serif;
    -moz-user-select: none;
    /* Mozilla Firefox */
    -ms-user-select: none;
    /* Internet Explorer (не поддерживается) */
    -o-user-select: none;
    /* Opera Presto (не поддерживается) */
    -webkit-user-select: none;
    /* Google Chrome, Opera Next, Safari */
}

.views {
    width: 20px;
    height: 20px;
    background: url('images/views.png')no-repeat center center;
    float: left;
    padding-top: 3px;
    margin-left: 10px;
}
.zv_btns {
    width: 20px;
    height: 20px;
    float: left;
    padding-top: 0px;
    margin-left: 10px;
    position: relative;
    z-index: 10;
  
}
.video_off {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	display: table;
	background: rgba(0,0,0,0.8);
	text-align: center;
}
.video_off span {
	display: table-cell;
	color: #fff;
	vertical-align: middle;
	font-size: 36px;
	font-weight: bold;
}
.video_off a {
	color: #fff;
}
.video_off h2 {
   margin-bottom: 0px;
}
.ws_abuse {
    position: relative;
    max-width: 100%;
    z-index:99999;
}

.ws_abuse_btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 10px;
}

.ws_abuse_bg * {
    box-sizing: border-box;
}

.ws_abuse_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2147483647;
}

.ws_abuse_overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.ws_abuse_modal {
    position: relative;
    margin: 50px auto;
    max-width: 300px;
    padding: 20px;
    background: #fff;
    color: #000;
    line-height: 1.4;

}

.ws_abuse_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    cursor: pointer;
}

.ws_abuse_close:before, .ws_abuse_close:after {
    content: '';
    position: absolute;
    background: #000;
}

.ws_abuse_close:before {
    width: 100%;
    height: 1px;
    top: 10px;
}

.ws_abuse_close:after {
    height: 100%;
    width: 1px;
    left: 10px;
}

.ws_abuse_title {
    text-align: center;
    font-size: 20px;
}

.ws_abuse_input_group:after {
    content: '';
    display: block;
    clear: both;
}

.ws_abuse_input_group input {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-family: inherit;
}

.ws_abuse_input_group label {
    float: left;
    width: 50%;
    cursor: pointer;
     margin-top: 5px;
}

.ws_abuse_input_group {
    margin: 20px 0 0;
}

.ws_abuse_input_group_textarea textarea {
    border: 1px solid #ddd;
    height: 70px;
    padding: 10px;
    font-family: inherit;
}

.ws_abuse_input_group_textarea * {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.ws_abuse_input_group button {
    float: right;
    background: #666;
    border: 0;
    color: #fff;
    outline: none;
    padding: 8px 20px;
}
.ws_abuse_success {
	text-align: center;
	
}